# Ex2 - Getting and Knowing your Data

Check out Chipotle Exercises Video Tutorial to watch a data scientist go through the exercises

This time we are going to pull data directly from the internet. Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

# Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Step 2. Import the dataset from this address.

# Step 3. Assign it to a variable called chipo.

In [2]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo=pd.read_csv(url,'\t')

# Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

# Step 5. What is the number of observations in the dataset?

In [12]:
chipo.shape

(4622, 5)

In [13]:
#2nd Solution

In [15]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

# Step 6. What is the number of columns in the dataset?

In [23]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

# Step 8. How is the dataset indexed?

In [26]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

# Step 9. Which was the most-ordered item?

In [48]:
c=chipo.groupby(['item_name'])
c=c.sum()
c=c.sort_values(['quantity'],ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

# Step 10. For the most-ordered item, how many items were ordered?

In [53]:
s=chipo.groupby('item_name')
s=s.sum()
s=s.sort_values(['quantity'],ascending=False)
s.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

# Step 11. What was the most ordered item in the choice_description column?

In [54]:
c=chipo.groupby(['choice_description'])
c=c.sum()
c=c.sort_values(['quantity'],ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

# Step 12. How many items were orderd in total?

In [55]:
chipo['quantity'].sum()

4972

# Step 13. Turn the item price into a float

In [7]:
chipo['item_price']=chipo.item_price.str.slice(1).astype(float)

In [89]:
s.head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

In [65]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

# # Step 13.b. Create a lambda function and change the type of item price

In [5]:
s=chipo['item_price'].apply(lambda x:float(x[1:-1]))

# Step 13.c. Check the item price type

In [84]:
s.dtype

dtype('float64')

# Step 14. How much was the revenue for the period in the dataset?

In [93]:
chipo['item_price'].sum()

34500.16

# Step 15. How many orders were made in the period?

In [94]:
chipo['quantity'].sum()

4972

# Step 16. What is the average revenue amount per order?

In [9]:
chipo['item_price'].mean()

7.464335785374397

# Step 17. How many different items are sold?

In [20]:
chipo['item_name'].value_counts().count()

50

In [21]:
chipo.item_name.nunique()

50

In [ ]:
#Student of DataScience
#Student of DataTrained-Saurav
#Date-29-July/2022
#Time-8:44